.category {
  height: 350px;
  width: 90%;
  background-color: white;
  box-shadow: 0 0 10px black;
}
.category img {
  width: 100%;
  object-fit: contain;
  max-height: 250px;
  padding: 0 10px;
  text-decoration: none;
  color: black;
}
.category a {
  text-decoration: none;
  color: black;
}
.category h2,
.category p {
  padding: 5px;
  margin-left: 15px;
}
.category_container {
  position: relative;
  margin-top: -10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
}
